@(prefix: String)(parameter: String)
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Url索引</title>
  <script type="text/javascript" src="@{prefix}/http4s/0.0.1/frontend-fastopt/main.js?p=@{parameter}"></script>
</head>
<body>
  <div>
    <div>
      <div>
        <a href="/desu/AA.html" target="_blank">第一个Binding.scala</a>
      </div>
      <div>
        <a href="/desu/filePath.html" target="_blank">文件列表</a>
      </div>
      <div>
        <a href="/aa" target="_blank">求包养</a>
      </div>
    </div>
  </div>
</body>
</html>
